[Desktop Entry]
Name=StumpWM
Comment=This session logs you into StumpWM
Exec=/home/jmccabe/.xinitrc
TryExec=stumpwm
Type=Application
DesktopNames=StumpWM
